/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  background-image: linear-gradient(to bottom, #3a3a3a, #303030, #262626, #1d1d1d, #141414);
  font-family: Calibri, monospace;
  
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

